#jumbotron {
  color: white;
  text-align: center;
  position: relative; }
  #jumbotron:before {
    content: "";
    background-image: url("../images/jumbotron.png");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2; }
  #jumbotron:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background-color: black;
    z-index: -1; }
  #jumbotron h1 img {
    width: 40%;
    margin: 0 auto; }
  #jumbotron .container {
    position: relative;
    z-index: 5; }
    #jumbotron .container .greeting {
      margin: 100px 0; }
  #jumbotron .scroller {
    position: relative;
    width: 75px;
    margin: 15px auto; }
    #jumbotron .scroller:after {
      content: "";
      background-image: url("../images/navigation-icon.png");
      background-size: 75px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
    #jumbotron .scroller .scroller-arrow {
      padding: 33px 22.5px; }
  #jumbotron .nav-item {
    position: relative;
    padding: 45px 15px;
    margin: 10px auto;
    height: 160px;
    width: 150px;
    cursor: pointer; }
    #jumbotron .nav-item:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../images/navigation-icon.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .3;
      z-index: 1; }
    #jumbotron .nav-item:hover:after {
      content: "";
      background-image: url("../images/navigation-icon-hover.png");
      opacity: 1; }
    #jumbotron .nav-item .nav-icon, #jumbotron .nav-item .nav-text {
      position: relative;
      z-index: 4; }
    #jumbotron .nav-item .nav-icon {
      width: 40%;
      margin: 0 auto 10px auto; }
    #jumbotron .nav-item .nav-text {
      margin: 0 auto; }

#inline-navigation {
  padding: 15px; }
  #inline-navigation .brand {
    float: left;
    text-align: center;
    padding: 11px 0; }
  #inline-navigation ul {
    overflow: auto;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase; }
    #inline-navigation ul li {
      padding: 20px 0;
      text-align: center;
      float: right; }
      #inline-navigation ul li:hover {
        cursor: pointer;
        color: #9E449A; }

.button {
  position: relative;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 175px;
  height: 50px;
  background-color: #9E449A;
  color: white;
  cursor: pointer; }
  .button:before {
    content: "";
    position: absolute;
    background-color: #7a3577;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px; }

#features {
  background-color: #ececec;
  padding: 100px 30px;
  text-align: center; }
  #features .feature .icon {
    position: relative;
    padding: 60px;
    margin-bottom: 45px; }
    #features .feature .icon:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../images/navigation-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3; }
    #features .feature .icon img {
      position: relative;
      z-index: 1; }
  #features .feature h4 {
    margin-bottom: 45px; }

#about {
  padding: 100px 30px; }
  #about .button {
    float: left; }
  #about p {
    margin-bottom: 100px;
    font-size: 18px; }
  #about img {
    width: 100%; }

.interlude {
  background-image: url("../images/landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 130px 0; }
  .interlude .quote {
    font-size: 30px;
    text-align: center;
    color: white; }
  .interlude .icon {
    width: 183px;
    text-align: center;
    position: relative;
    padding: 60px 55px;
    margin: 0 auto; }
    .interlude .icon:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../images/navigation-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3; }
    .interlude .icon img {
      position: relative;
      z-index: 1; }

.slider-navigation {
  text-align: center;
  margin-bottom: 50px; }
  .slider-navigation .arrow-left, .slider-navigation .arrow-right {
    display: inline-block;
    background-image: url("../images/navigation-icon-hover.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    height: 56px;
    width: 50px;
    padding: 5px;
    text-align: center; }

.team-slider {
  text-align: center; }
  .team-slider .team-member-photo {
    border-radius: 50%;
    width: 75%;
    margin-bottom: 20px; }
  .team-slider .member-name {
    text-transform: uppercase;
    font-size: 25px; }
  .team-slider .facebook-button, .team-slider .google-button {
    display: inline-block;
    padding: 16px 0;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 50px;
    height: 50px; }

#our-skills .skill-level {
  padding: 15px; }
  #our-skills .skill-level .skill {
    height: 20px; }
    #our-skills .skill-level .skill .skill-name {
      text-transform: uppercase;
      font-weight: bold;
      color: black;
      float: left; }
  #our-skills .skill-level .skill-percentage {
    float: right; }
  #our-skills .skill-level .skill-bar {
    width: 100%;
    height: 20px;
    margin: 10px 0;
    background-color: lightgray; }
    #our-skills .skill-level .skill-bar .skill-progress {
      float: left;
      background-color: #9E449A;
      height: 100%; }

#statistics {
  background-color: #ececec;
  text-align: center; }
  #statistics .stat-numbers {
    margin-bottom: 60px;
    overflow: auto; }
    #statistics .stat-numbers .stat-value {
      font-size: 50px; }
    #statistics .stat-numbers .stat-name {
      font-size: 15px;
      color: gray; }
  #statistics .opinion-slider .opinion {
    color: gray; }
    #statistics .opinion-slider .opinion .mugshot, #statistics .opinion-slider .opinion .opinion-text, #statistics .opinion-slider .opinion .opinion-owner {
      margin-bottom: 25px; }
    #statistics .opinion-slider .opinion .opinion-text {
      width: 70%;
      margin: 0 auto 25px auto;
      font-size: 30px; }
    #statistics .opinion-slider .opinion .opinion-owner {
      text-transform: uppercase;
      font-size: 15px; }
  #statistics .opinion-slider .slider-dots {
    height: 10px; }
    #statistics .opinion-slider .slider-dots .dot {
      margin: 0 2px;
      display: inline-block;
      height: 10px;
      width: 10px;
      border: 1px solid gray;
      border-radius: 50%; }
    #statistics .opinion-slider .slider-dots .active {
      background-color: gray; }

#portfolio .category-selector {
  list-style-type: none;
  text-align: center;
  padding: 0;
  cursor: pointer;
  margin-bottom: 40px; }
  #portfolio .category-selector li {
    margin: 0 5px;
    display: inline-block;
    width: 100px;
    height: 43px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold; }
    #portfolio .category-selector li:hover {
      color: white;
      background-color: #9E449A;
      border-color: #9E449A; }

#portfolio-gallery {
  overflow: auto; }
  #portfolio-gallery .project-thumbnail {
    position: relative;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 85%;
    background-size: cover;
    background-position: center;
    cursor: pointer; }
    #portfolio-gallery .project-thumbnail:hover:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../images/add_sign.png");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 3; }
    #portfolio-gallery .project-thumbnail:hover:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: gray;
      opacity: .5;
      background-size: cover;
      z-index: 2; }
  #portfolio-gallery .project-1 {
    background-image: url("../images/thumbnail1.png"); }
  #portfolio-gallery .project-2 {
    background-image: url("../images/thumbnail2.png"); }
  #portfolio-gallery .project-3 {
    background-image: url("../images/thumbnail3.png"); }
  #portfolio-gallery .project-4 {
    background-image: url("../images/thumbnail4.png"); }
  #portfolio-gallery .project-5 {
    background-image: url("../images/thumbnail5.png"); }
  #portfolio-gallery .project-6 {
    background-image: url("../images/thumbnail6.png"); }

.project {
  padding: 20px; }
  .project .project-name, .project .project-tags {
    text-align: center;
    padding: 10px; }
  .project .project-name {
    font-size: 20px; }
  .project .project-tags {
    color: gray;
    font-size: 14px; }

#contact input, #contact textarea {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 25px; }
#contact .social-button {
  cursor: pointer;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%; }
#contact address {
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0; }
#contact .button {
  float: left; }
#contact p {
  font-size: 16px; }

footer {
  text-align: center;
  padding: 30px 0 60px 0; }
  footer img {
    width: 250px; }

body {
  font-family: 'Lato', sans-serif; }

section {
  padding: 100px 30px; }

.section-heading {
  text-align: center; }

h3 {
  clear: both;
  padding: 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 0 auto 100px auto; }
  h3:after {
    transform: rotate(-180deg);
    content: "";
    background-image: url("../images/corner.png");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  h3:before {
    content: "";
    background-image: url("../images/corner.png");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }

/*# sourceMappingURL=main.css.map */
