#jumbotron {
  color: white;
  text-align: center;
  position: relative; }
  #jumbotron:before {
    content: "";
    background-image: url("../images/jumbotron.png");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2; }
  #jumbotron:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background-color: black;
    z-index: -1; }
  #jumbotron h1 img {
    width: 40%;
    margin: 0 auto; }
  #jumbotron .container {
    position: relative;
    z-index: 5; }
    #jumbotron .container .greeting {
      margin: 100px 0; }
  #jumbotron .scroller {
    position: relative;
    width: 75px;
    margin: 15px auto; }
    #jumbotron .scroller:after {
      content: "";
      background-image: url("../images/navigation-icon.png");
      background-size: 75px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1; }
    #jumbotron .scroller .scroller-arrow {
      padding: 33px 22.5px; }
  #jumbotron .nav-item:hover {
    cursor: pointer; }
    #jumbotron .nav-item:hover:after {
      background-image: url("../images/navigation-icon-hover.png");
      opacity: 1; }
  #jumbotron .nav-item:after {
    content: "";
    background-image: url("../images/navigation-icon.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  #jumbotron .nav-item .nav-content {
    padding: 45px 15px;
    height: 100%;
    width: 100%;
    z-index: 4; }
    #jumbotron .nav-item .nav-content .nav-icon {
      width: 40%;
      margin: 0 auto 10px auto; }
    #jumbotron .nav-item .nav-content .nav-text {
      margin: 0 auto; }

#inline-navigation {
  padding: 35px;
  height: 100px; }
  #inline-navigation .brand {
    float: left; }
    #inline-navigation .brand img {
      width: 100%; }
  #inline-navigation ul {
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase; }
    #inline-navigation ul li {
      padding: 13px 0;
      text-align: center;
      float: right; }
      #inline-navigation ul li:hover {
        cursor: pointer;
        color: #9E449A; }

#features {
  background-color: #ececec;
  padding: 100px 30px;
  text-align: center; }
  #features .feature .feature-icon {
    position: relative;
    padding: 60px;
    margin-bottom: 45px; }
    #features .feature .feature-icon:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../images/navigation-icon.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3; }
    #features .feature .feature-icon img {
      position: relative;
      z-index: 1; }
  #features .feature h3 {
    margin-bottom: 45px; }

#about h3 {
  padding: 20px;
  width: 20%;
  position: relative;
  text-align: center;
  margin: 100px auto; }
  #about h3:after {
    transform: rotate(-180deg);
    content: "";
    background-image: url("../images/corner.png");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  #about h3:before {
    content: "";
    background-image: url("../images/corner.png");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  #about h3 img {
    width: 100%; }

body {
  font-family: 'Lato', sans-serif; }

/*# sourceMappingURL=main.css.map */
