.interlude {
    background-image: url("../images/landscape.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 130px 0;
    .quote {
        font-size: 30px;
        text-align: center;
        color: white;
    }
    .icon {
            width: 183px;
            text-align: center;
            position: relative;
            padding: 60px 55px;
            margin: 0 auto;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-image: url("../images/navigation-icon.png");
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.3;
            }
            img {
                position: relative;
                z-index: 1;
            }
        }
}