#jumbotron {
    color: white;
    text-align: center;
    position: relative;
    &:before {
        content: "";
        background-image: url("../images/jumbotron.png");
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
        background-color: black;
        z-index: -1;
    }
    h1 {
        img {
            width: 40%;
            margin: 0 auto;
        }
    }
    .container {
        position: relative;
        z-index: 5;
        .greeting {
            margin: 100px 0;
        }
    }
    .scroller {
        position: relative;
        width: 75px;
        margin: 15px auto;
        cursor: pointer;
        &:after {
            content: "";
            background-image: url("../images/navigation-icon.png");
            background-size: 75px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.3;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

        }
        .scroller-arrow {
            padding: (83px - 17px)/2 (75px - 30px)/2;
        }
    }
    .nav-item {
        position: relative;
        padding: 45px 15px;
        margin: 10px auto;
        height: 160px;
        width: 150px;
        cursor: pointer;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: url("../images/navigation-icon.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: .3;
            z-index: 1;
        }
        &:hover:after{
            content: "";
            background-image: url("../images/navigation-icon-hover.png");
            opacity: 1;
        }
        .nav-icon, .nav-text {
            position: relative;
            z-index: 4;
        }
        .nav-icon {
            width: 40%;
            margin: 0 auto 10px auto;
        }
        .nav-text {
            margin: 0 auto;
        }
    }
}
.fantom-space {
    margin-bottom: 125px;
}
