.fixed-position {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid gray;
}
#inline-navigation {
    padding: 15px;
    .brand {
        float: left;
        text-align: center;
        padding: 11px 0;
    }
    .hamburger{
        position: relative;
        float: right;
        ul {
            margin-bottom: 0;
            overflow: auto;
            padding: 5px;
            font-size: 12px;
            font-weight: bold;
            list-style-type: none;
            text-transform: uppercase;
            li {
                width: 80px;
                padding: 20px 0;
                text-align: center;
                float: left;
                &:hover {
                    cursor: pointer;
                    color: $main-color;
                }
            }
        }
    }
    @media (max-width: 1000px){
        .hamburger{
            width: 60px;
            height: 60px;
            background-image: url("../images/hamburger.png");
            background-size: cover;
            cursor: pointer;
            .visible {
                display: block;
            }
            ul {
                display: none;
                width: 200px;
                position: absolute;
                top: 0;
                left: -210px;
                z-index: 5;
                background-color: white;
                border: 1px solid gray;
                border-radius: 5px;
                li {
                    width: 100%;
                }
            }
        }
    }
}