#inline-navigation {
    padding: 15px;
    .brand {
        float: left;
        text-align: center;
        padding: 11px 0;
    }
    ul {
        overflow: auto;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        list-style-type: none;
        text-transform: uppercase;
        li {
            padding: 20px 0;
            text-align: center;
            float: right;
            &:hover {
                cursor: pointer;
                color: $main-color;
            }
        }
    }
}