#portfolio {
    .category-selector {
        list-style-type: none;
        text-align: center;
        padding: 0;
        cursor: pointer;
        margin-bottom: 40px;
        li {
            margin: 0 5px;
            display: inline-block;
            width: 100px;
            height: 43px;
            text-transform: uppercase;
            padding: 10px;
            text-align: center;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            &:hover{
                color: white;
                background-color: $main-color;
                border-color: $main-color;
            }
        }
    }
}
#portfolio-gallery {
    overflow: auto;
    .project-thumbnail {
        position: relative;
        margin: 0 auto;
        width: 85%;
        padding-bottom: 85%;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        &:hover:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url("../images/add_sign.png");
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 3;
        }
        &:hover:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: gray;
            opacity: .5;
            background-size: cover;
            z-index: 2;
        }
    }
    @for $i from 1 through 6 {
        .project-#{$i} {
            background-image: url("../images/thumbnail#{$i}.png");
        }
    }
}
.project {
    padding: 20px;
    .project-name, .project-tags {
        text-align: center;
        padding: 10px;
    }
    .project-name {
        font-size: 20px;
    }
    .project-tags {
        color: gray;
        font-size: 14px;
    }
}